*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

a{
    display: inline-block;
    text-decoration: none;
}

button{
    all: unset;
    display: inline-block;
    cursor: pointer;
}