<footer class="footer py-64 py-sm-32">
    <div class="container">
        <div class="footer-top">
            <h2>
                <a href="index.html" class="logo">
                    URBNSTEP
                    <div class="logo-dot"></div>
                </a>                
            </h2>
            <ul class="navbar-btn-footer">
                <li>
                    <a href="all-item.html" class="navbar-btn mr-40">商品列表</a>
                </li>
                <li>
                    <a href="story.html" class="navbar-btn">品牌故事</a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom text-p-xs">
            <p class="pb-4">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>

