<header class="container d-flex jc-sb ai-c">
    <div class="d-flex py-16">
        <h1 class="mr-48">
            <a href="index.html" class="logo">
                URBNSTEP
                <div class="logo-dot"></div>
            </a>
        </h1>
        <ul class="d-flex">
            <li>
                <a href="all-item.html" class="navbar-btn navbar-btn-header mr-40">商品列表</a>
            </li>
            <li>
                <a href="story.html" class="navbar-btn navbar-btn-header">品牌故事</a>
            </li>
        </ul>
    </div>
    <div>
        <a href="login.html" class="navbar-icon">
            <i class="bi bi-person"></i>
        </a>
    </div>
</header>