.URBNSTEP-section{
    background-image: url(../images/banner.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 289px;
    padding-bottom: 288px;
    padding-left: 200px;
}

.cellphone-nav{
    display: none;
}

.cellphone-nav-left,.cellphone-nav-right{
    font-weight: $font-weight-M;
    padding-top: $space-s;
    padding-bottom: $space-s; 
    width: 50%;
    text-align: center;

}

.cellphone-nav-left{
    background-color: $color-primary-200;
}

.cellphone-nav-right{
    background-color: $color-primary-100;
}

@media (max-width: 768px){
    .URBNSTEP-section{
        background-image: url(../images/banner-sm.png);
        padding: 155px 24px;
    }
    .URBNSTEP-section.text-d-1{
        font-size: 48px;
    }
    .URBNSTEP-section{
        font-size: 20px;
    }
    .cellphone-nav{
        display: block;
    }

} 

.img-tag{
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: $color-primary-100;
    color: $color-primary-400;
    position: absolute;
    left: 12px;
    top: 0;
}

.index-middle-img{
    width: 100%;
    background-image: url(../images/banner-co-branded.png);
    padding: 100px 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.index-dot-box{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: -64px;
}
.index-pagination-dot{
    background-color: $color-neutral-400;
    width: 8px;
    height: 8px;
    border-radius: $radius-rounded;
    z-index: 1;
    &-active{
        width: 24px;
        background-color: $color-neutral-600;
        z-index: 1;
        border-radius: $radius-rounded;
    }
}

.index-middle-ad-decor-left{
    position: absolute;
    left: 20%;
    top: 5%;
}

.index-middle-ad-decor-right{
    position: absolute;
    left: 70%;
    bottom: 15%;
}

.dark-img-btm{
    max-width: 306px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
    aspect-ratio: 1 / 1;
}

.dark-img-btm:hover{
    opacity: 0.9;
}

.dark-img-btm .text-h-h3:hover{
    color: $color-primary-300;
}

.dark-img-btm.URBN-RUNNER{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/product-6.png);
}

.dark-img-btm.STREETMODE{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/product.png);
}

.dark-img-btm.CHUNK-DISTRICT{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/product-4.png);
}

.dark-img-btm.COLLAB-ZONE{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/product-10.png);
}

.index-picturewall{
    width: 100%;
    display: flex;
    gap: 8px;
}

.index-sm-picturewall{
    display: none;
}

.index-picturewall-left{
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
}

.index-picturewall-left-top{
    width: 100%;
    display: flex;
    gap: 8px;
    img{
        width: calc((100% - 3*8px) / 4);
    }
}

.index-picturewall-left-bottom{
    width: 100%;
    display: flex;
    gap: 8px;
}

.index-picturewall-left-bottom-left{
    width: 50%;
}

.index-picturewall-left-bottom-right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    img{
        width: calc((100% - 8px) / 2);
    }
}

.index-picturewall-right{
    width: 33%;
    display: flex;
    row-gap: 8px;
    flex-wrap: wrap;
}

.index-picturewall-right-bottom{
    display: flex;
    gap: 8px;
    img{
        width: calc((100% - 8px) / 2);
    }
}

@media (max-width: 768px){
    .index-sm{
        .text-d-1{
            font-size: 36px;
        }
        .text-d-2{
            font-size: 32px; 
        }
        .text-h-h1{
            font-size: 28px;
        }
        .text-h-h2{
            font-size: 24px;
        }
        .text-h-h3{
            font-size: 16px;
        }
        .text-h-h4{
            font-size: 16px;
        }
        .text-h-h5{
            font-size: 16px;
        }
        .text-l-lg{
            font-size: 16px;
        }
    }
    .index-dot-box{
        display: none;
    }
    .index-sm-scroll{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-right: 0;
        margin-left: 0;
    }
    .index-sm-scroll-card{
        width: 300px;
        flex: 0 0 auto;
    }
    .index-picturewall{
        display: none;
    }
    .index-sm-picturewall{
        display: block;
    }
}
