.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.flx-w{
    flex-wrap: wrap;
}

.flex-1{
    flex: 1;
}

.fd-cloumn{
    flex-direction: column;
}

.jc-c{
    justify-content: center;
}

.jc-sb{
    justify-content: space-between;
}

.ai-c{
    align-items: center;
}

.py-7{
    padding: 7px 0;
}

.py-8{
    padding: 8px 0;
}

.py-9-5{
    padding: 9.5px 0;
}

.py-10{
    padding: 10px 0;
}

.py-12{
    padding: 12px 0;
}

.py-16{
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-24{
    padding: 24px 0;
}

.py-64{
    padding: 64px 0;
}

.pl-16{
    padding-left: 16px;
}

.pr-8{
    padding-right: 8px;
}

.pr-12{
    padding-right: 12px;
}

.pr-16{
    padding-right: 16px;
}

.pr-24{
    padding-right: 24px;
}

.pt-32{
    padding-top: 32px;
}

.pb-4{
    padding-bottom: 4px;
}

.pb-24{
    padding-bottom: 24px;
}

.pb-32{
    padding-bottom: 32px;
}

.pb-48{
    padding-bottom: 48px;
}

.px-16{
    padding-left: 16px;
    padding-right: 16px;
}

.mr-8{
    margin-right: 8px;
}

.mr-12{
    margin-right: 12px;
}

.mr-24{
    margin-right: 24px;
}

.mr-48{
    margin-right: 48px;
}

.mr-40{
    margin-right: 40px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-48{
    margin-bottom: 48px;
}

.mb-64{
    margin-bottom: 64px;
}

.mt-40{
    margin-top: 40px;
}

.mt-48{
    margin-top: 48px;
}

.mt-u-24{
    margin-top: -24px;
}
