<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP｜Your Step, Your Statement</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="cellphone-nav">
        <ul class="d-flex">
            <li class="cellphone-nav-left">
                <a href="all-item.html" class="text-color-n-900">商品列表</a>
            </li>
            <li  class="cellphone-nav-right">
                <a href="story.html" class="text-color-n-900">品牌故事</a>
            </li>
        </ul>
    </div>

    <div class="URBNSTEP-section">
      <h2 class="text-d-1 font-weight-B text-color-n-white mb-16">URBNSTEP</h2>
      <h3 class="text-h-h3 font-weight-B text-color-n-white mb-48">
        Your Step, Your Statement
      </h3>
      <a href="all-item.html" class="btn-xl-bright text-l-md font-weight-M">立即選購</a>
    </div>

    <!-- 新品上市 -->
    <div class="container py-64 py-sm-40 index-sm">
      <h2 class="text-d-2 font-weight-B text-color-n-900 pb-12 text-align-center">New Arrival</h2>
      <h2 class="text-h-h2 font-weight-B text-color-n-900 pb-32 text-align-center">新品上市</h2>
      <div class="row">
        <a href="#" class="col-6 col-sm-2 img-hover index-sm">
          <img src="../assets/images/new-1.png" alt="Monoverse" class="pb-12 pb-sm-8">
          <h3 class="text-h-h5 font-weight-B text-color-n-900 pb-4 pb-sm-0">Monoverse</h3>
          <p class="text-l-md font-weight-M text-color-n-900 pb-40 pb-sm-24">NT$3,600</p>
        </a>
        <a href="product-platform404.html" class="col-6 col-sm-2 img-hover">
          <img src="../assets/images/new-2.png" alt="Monoverse" class="pb-12 pb-sm-8">
          <h3 class="text-h-h5 font-weight-B text-color-n-900 pb-4 pb-sm-0">PLATFORM 404</h3>
          <p class="text-l-md font-weight-M text-color-n-900 pb-40 pb-sm-24">NT$2,600</p>
        </a>
        <a href="#" class="col-6 col-sm-2 img-hover">
          <img src="../assets/images/new-3.png" alt="Monoverse" class="pb-12 pb-sm-8">
          <h3 class="text-h-h5 font-weight-B text-color-n-900 pb-4 pb-sm-0">URBN Force</h3>
          <p class="text-l-md font-weight-M text-color-n-900 pb-40 pb-sm-24">NT$3,200</p>
        </a>
        <a href="#" class="col-6 col-sm-2 img-hover">
          <img src="../assets/images/new-4.png" alt="Monoverse" class="pb-12 pb-sm-8">
          <h3 class="text-h-h5 font-weight-B text-color-n-900 pb-4 pb-sm-0">Mode90</h3>
          <p class="text-l-md font-weight-M text-color-n-900 pb-40 pb-sm-24">NT$4,000</p>
        </a>
      </div>
    </div>

    <!-- 熱銷補貨 -->
    <div class="container py-64 py-sm-40 index-sm">
      <div class="row">
        <div class="col-12 col-sm-4">
          <h2 class="text-h-h2 text-color-n-900 font-weight-B pb-16">熱銷補貨</h2>
        </div>
      </div>
      <div class="row index-sm-scroll">
        <a href="#" class="col-3 position-relative img-hover index-sm-scroll-card">
          <img src="../assets/images/product-3.png" alt="Melty Kiss">
          <p class="img-tag">人氣 No.1</p>
        </a>
        <a href="product-platform404.html" class="col-3 position-relative img-hover index-sm-scroll-card">
          <img src="../assets/images/product.png" alt="PLATFORM 404">
          <p class="img-tag">人氣 No.1</p>
        </a>
        <a href="#" class="col-3 position-relative img-hover index-sm-scroll-card">
          <img src="../assets/images/product-6.png" alt="R:UNER">
          <p class="img-tag">人氣 No.1</p>
        </a>
        <a href="#" class="col-3 position-relative img-hover index-sm-scroll-card">
          <img src="../assets/images/product-4.png" alt="BOOMBLOK">
          <p class="img-tag">人氣 No.1</p>
        </a>
      </div> 
    </div>

    <!-- 廣告banner - 跨界聯名，限量發售 -->
    <div class="index-middle-img mt-48 mb-48 index-sm my-sm-24">
       <div class="d-flex jc-c ai-c pb-16 fd-sm-cloumn gap-24 gap-sm-8 index-sm">
        <h2 class="text-d-2 font-weight-B text-color-n-white">URBNSTEP</h2>
        <p class="text-h-h1 font-weight-B color-p-300">x</p>
        <h2 class="text-d-2 font-weight-B text-color-n-white">Kevin Chen</h2>
       </div>
       <h3 class="text-h-h2 font-weight-B text-color-n-white text-align-center pb-32 pb-sm-24">跨界聯名，限量發售</h3>
       <p class="text-l-lg font-weight-R text-color-n-500 pb-48 pb-sm-32">新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</p>
       <a href="all-item.html" class="btn-xl-bright text-l-md font-weight-M">立即選購</a>
       <!-- 裝飾圖案 -->
       <img src="../assets/images/star.svg" alt="star" class="index-middle-ad-decor-left">
       <img src="../assets/images/sparkle.svg" alt="sparkle" class="index-middle-ad-decor-right">
    </div>
    <!-- 廣告banner - 分頁點點 -->
    <div class="index-dot-box">
     <button class="index-pagination-dot-active"></button>
     <button class="index-pagination-dot"></button>
     <button class="index-pagination-dot"></button>
     <button class="index-pagination-dot"></button>
    </div>

    <!-- 依系列選購 -->
    <div class="container pt-112 pb-64 py-sm-40 index-sm">
      <div class="row">
        <div class="col-12 col-sm-4">
          <h2 class="text-h-h2 text-color-n-900 font-weight-B pb-16">依系列選購</h2>
        </div>
      </div>
      <div class="row">
        <a href="#" class="col-3 col-sm-2 mb-sm-12">
          <div class="dark-img-btm URBN-RUNNER index-sm">
            <h3 class="text-h-h3 font-weight-B text-color-n-white pb-8">URBN RUNNER</h3>
            <h4 class="text-h-h4 font-weight-B text-color-n-white">慢跑系列</h4>
          </div>
        </a>
        <a href="#" class="col-3 col-sm-2 mb-sm-12">
          <div class="dark-img-btm STREETMODE index-sm">
            <h3 class="text-h-h3 font-weight-B text-color-n-white pb-8">STREETMODE</h3>
            <h4 class="text-h-h4 font-weight-B text-color-n-white">滑板系列</h4>
          </div>
        </a>
        <a href="#" class="col-3 col-sm-2 mb-sm-12">
          <div class="dark-img-btm CHUNK-DISTRICT index-sm">
            <h3 class="text-h-h3 font-weight-B text-color-n-white pb-8">CHUNK DISTRICT</h3>
            <h4 class="text-h-h4 font-weight-B text-color-n-white">厚底系列</h4>
          </div>
        </a>
        <a href="#" class="col-3 col-sm-2 mb-sm-12">
          <div class="dark-img-btm COLLAB-ZONE index-sm">
            <h3 class="text-h-h3 font-weight-B text-color-n-white pb-8">COLLAB ZONE</h3>
            <h4 class="text-h-h4 font-weight-B text-color-n-white">聯名企劃</h4>
          </div>
        </a>

      </div>
    </div>

    <!-- 穿搭靈感 -->
     <div class="container py-64 py-sm-40 index-sm">
      <div class="row">
        <div class="col-12 col-sm-4">
          <h2 class="text-h-h2 text-color-n-900 font-weight-B pb-16">穿搭靈感</h2>
        </div>
      </div>
      <!-- 電腦版 -->
      <div class="index-picturewall">
        <!-- 左邊區塊66% -->
        <div class="index-picturewall-left">
          <!-- 左邊區塊上方 -->
          <div class="index-picturewall-left-top">
            <img src="../assets/images/inspiration-1.png" alt="圖片1">
            <img src="../assets/images/inspiration-2.png" alt="圖片2">
            <img src="../assets/images/inspiration-4.png" alt="圖片4">
            <img src="../assets/images/inspiration-5.png" alt="圖片5">
          </div>
          <!-- 左邊區塊下方 -->
          <div class="index-picturewall-left-bottom">
            <div class="index-picturewall-left-bottom-left">
              <img src="../assets/images/inspiration-3.png" alt="圖片3">
            </div>
            <div class="index-picturewall-left-bottom-right">
              <img src="../assets/images/inspiration-6.png" alt="圖片6">
              <img src="../assets/images/inspiration-7.png" alt="圖片7">
              <img src="../assets/images/inspiration-8.png" alt="圖片8">
              <img src="../assets/images/inspiration-9.png" alt="圖片9">
            </div>
          </div>
        </div>
        <!-- 右邊區塊33% -->
        <div class="index-picturewall-right">
          <div class="index-picturewall-right-top">
            <img src="../assets/images/inspiration-10.png" alt="圖片10">
          </div>
          <div class="index-picturewall-right-bottom">
            <img src="../assets/images/inspiration-11.png" alt="圖片11">
            <img src="../assets/images/inspiration-12.png" alt="圖片12">
          </div>
        </div>
      </div>
      <!-- 手機版 -->
       <div class="index-sm-picturewall">
        <div class="index-sm-scroll pl-12">
          <img src="../assets/images/inspiration-1.png" alt="圖片1" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-2.png" alt="圖片2" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-3.png" alt="圖片3" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-4.png" alt="圖片4" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-5.png" alt="圖片5" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-6.png" alt="圖片6" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-7.png" alt="圖片7" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-8.png" alt="圖片8" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-9.png" alt="圖片9" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-10.png" alt="圖片10" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-11.png" alt="圖片11" class="index-sm-scroll-card mr-16">
          <img src="../assets/images/inspiration-12.png" alt="圖片12" class="index-sm-scroll-card mr-16">
        </div>

       </div>

     </div>


    <%- include('./layout/ad'); -%>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
