<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員註冊｜URENSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 手機版圖片 -->
    <div>
      <img src="../assets/images/login-sm.png" alt="Your Step, Your Statement" class="login-left-sm-pic">
    </div>

    <main class="container py-64 py-sm-0">
      <div class="row fd-sm-cloumn">

        <!-- 網頁版圖片 -->
        <div class="col-5">
          <div class="login-left-pic">            
          </div>
        </div>
        
        <div class="col-7 col-sm-4">
          <div class="login-right-block">
            <div class="loginin-right-main">
              <h1 class="text-h-h3 font-weight-B text-color-n-900">歡迎！</h1>
              <div class="log-sign-block">
                <a href="login.html" class="log-sign-btn text-h-h6 text-color-n-600 font-weight-B log-sign-btn-border-light">登入</a>                
                <a href="signin.html" class="log-sign-btn text-h-h6 text-color-n-900 font-weight-B log-sign-btn-border-dark">註冊</a>
              </div>
              <div class="oauth-block">
                <button class="oauth-btn text-p-md font-weight-R text-color-n-900">
                  <img src="../assets/images/facebook.svg" alt="Facebook登入" class="pr-12">
                  Facebook 註冊
                </button>
                <button class="oauth-btn text-p-md font-weight-R text-color-n-900">
                  <img src="../assets/images/apple.svg" alt="Apple登入" class="pr-12">
                  Apple 註冊
                </button>
                <button class="oauth-btn text-p-md font-weight-R text-color-n-900">
                  <img src="../assets/images/google.svg" alt="Google登入" class="pr-12">
                  Google 註冊
                </button>
              </div>

            </div>
          </div>
 
        </div>
      </div>
    </main>
    
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
